<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ DBdata }}</title>
    <link rel="stylesheet" href="../static/styles.css">

    <h1>{{ DBdata }}</h1>
</head>
<body>
<form action="{{ url_for("voc_database", data=DBdata) }}" method="post">
    <table border = "1" style="width:100%">
        {% for index, data in datas %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>
                    {% if DBdata=='Collins' or DBdata=='Collins_remember' %}
                        <input type="checkbox" name={{ data[0] }}>
                    {% elif DBdata=='Coca' or DBdata=='Coca_remember' %}
                        <input type="checkbox" name="{{ data[0] }}" value="{{ data[1] }}">
                    {% endif %}
                </td>
                {% for i in data %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <input type="submit" value="Submit">
</form>

</body>
</html>