<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOOKS</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<form action="" method=post enctype=multipart/form-data>
    <div style="float: left;">
        <table border="1" style="width:100%">
            <tr>
                <td colspan="3"><h1>Leo_BOOKS</h1></td>
            </tr>
            {% for book in books_list %}
                <tr>
                    <td>
                        <a href="{{ url_for('book_voc', book=book, value='_Collins') }}">{{ book }}_Collins</a>
                    </td>
                    <td>
                        <a href="{{ url_for('book_voc', book=book, value='_Coca') }}">{{ book }}_Coca</a>
                    </td>
                    <td><input type="checkbox" name="{{ book }}"></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan='2'><input type="file" name="my_file" multiple>
                    <input type="submit" value="Upload"></td>
                <td><input type="submit" value="Delete"></td>
            </tr>
        </table>
    </div>
    <div style="float: right;">
        <table border="1" style="width:100%">
            <tr>
                <td><h1>DICTIONARYS</h1></td>
            </tr>
            <tr>
                <td>
                    <a href="{{ url_for('voc_database', data="Collins") }}">Collins</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ url_for('voc_database', data="Coca") }}">Coca</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ url_for('voc_database', data="Collins_remember") }}">Collins_remember</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ url_for('voc_database', data="Coca_remember") }}">Coca_remember</a>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>